<div class="question-comment">
    <span class="question-comment__mark">问题</span>
    <i class="question-comment__icon hand-icon hand-icon-comment"></i>
    <span class="question-comment__num"><%= commentNum %></span>
</div>
<div class="question-user">
    <span class="question-user__avatar"><img src=<%= avatar %> alt=""></span>
    <div class="question-user__info">
        <p class="question-user__name"><%= name %></p>
        <p class="question-user__tag"><%= tag %></p>
    </div>
</div>
<h1 class="question-title">
    <span><%= title %></span>
</h1>
<div class="question-content">
    <p><%= question %></p>
</div>
<div class="question-picture">
    <img src=<%= pic %> alt="">
</div>
