<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>Document</title>
    <script type="text/javascript" src="lib/mod.js"></script>
    <script type="text/javascript" src="lib/zepto.js"></script>
    <script type="text/javascript" src="lib/fastclick.js"></script>
    <link rel="stylesheet" href="./css/common.scss">
    <link rel="stylesheet" href="./css/index.scss">
</head>
<body class="good-answers">
    <div class="good">
        <header class="good-banner"><img width="100%" src="img/img_answer.png" alt=""></header>
        <div class="js_answers-loading loading"><span class="loading__icon"></span></div>
        <div class="js_answers-box good-list">

        </div>
    </div>

    <script>
        window.answersjson = [
            {
                "title":"温州大学食堂有什么好吃的1",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的2",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的3",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的4",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的5",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的6",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的7",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的8",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的9",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            },
            {
                "title":"温州大学食堂有什么好吃的10",
                "content":"温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？温州大学食堂有什么好吃的？"
            }
        ]
    </script>
    <script>
        require('app/goodAnswers/goodAnswers')
    </script>
</body>
</html>
